name: Update documentation

on:
  push:
    branches:
      - main
      - versioning-charts-for-docs

jobs:
  cheetah-application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check if files have changed
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: "true"
          files: |
            charts/cheetah-application/*.md
            charts/cheetah-application/*.yaml

      - name: Set output variable
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          echo "changed=true" >> $GITHUB_ENV
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}

  update-doc-cheetah-application:
    if: ${{ needs.cheetah-application.outputs.changed == 'true' }}
    needs: cheetah-application
    uses: ./.github/workflows/doc-publish.yml
    with:
      chart: cheetah-application
    secrets:
      token: ${{ secrets.CHEETAHBOT_WRITE_PACKAGE }}

  flink-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check if files have changed
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: "true"
          files: |
            charts/flink-job/*.md
            charts/flink-job/*.yaml

      - name: Set output variable
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          echo "changed=true" >> $GITHUB_ENV
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}

  update-doc-flink-job:
    if: ${{ needs.flink-job.outputs.changed == 'true' }}
    needs: flink-job
    uses: ./.github/workflows/doc-publish.yml
    with:
      chart: flink-job
    secrets:
      token: ${{ secrets.CHEETAHBOT_WRITE_PACKAGE }}

  image-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check if files have changed
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: "true"
          files: |
            charts/image-automation/*.md
            charts/image-automation/*.yaml

      - name: Set output variable
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          echo "changed=true" >> $GITHUB_ENV
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}

  update-doc-image-automation:
    if: ${{ needs.image-automation.outputs.changed == 'true' }}
    needs: image-automation
    uses: ./.github/workflows/doc-publish.yml
    with:
      chart: image-automation
    secrets:
      token: ${{ secrets.CHEETAHBOT_WRITE_PACKAGE }}

  opensearchrole:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check if files have changed
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: "true"
          files: |
            charts/opensearchrole/*.md
            charts/opensearchrole/*.yaml

      - name: Set output variable
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          echo "changed=true" >> $GITHUB_ENV
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}

  update-doc-opensearchrole:
    if: ${{ needs.opensearchrole.outputs.changed == 'true' }}
    needs: opensearchrole
    uses: ./.github/workflows/doc-publish.yml
    with:
      chart: opensearchrole
    secrets:
      token: ${{ secrets.CHEETAHBOT_WRITE_PACKAGE }}

  redpanda-console-oauth2proxy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check if files have changed
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: "true"
          files: |
            charts/redpanda-console-oauth2proxy/*.md
            charts/redpanda-console-oauth2proxy/*.yaml

      - name: Set output variable
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          echo "changed=true" >> $GITHUB_ENV
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}

  update-doc-redpanda-console-oauth2proxy:
    if: ${{ needs.redpanda-console-oauth2proxy.outputs.changed == 'true' }}
    needs: redpanda-console-oauth2proxy
    uses: ./.github/workflows/doc-publish.yml
    with:
      chart: redpanda-console-oauth2proxy
    secrets:
      token: ${{ secrets.CHEETAHBOT_WRITE_PACKAGE }}

